* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --btn-padding: 8px 16px;
  --btn-background-color: white;
  --btn-color: black;
  --fontweight: 600;
  --btn-border-radius: 24px;
}

body {
    font-family: 'Poppins', sans-serif;
}

#hero-img {
    position: relative;
}

#hero-bg-img img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav .logo img {
    width: 120px;
}

.nav-links {
    font-weight: 600;
}

.nav-links, .primary-cta {
    display: flex;
    gap: 20px;
    align-items: center;
}

#cta-2 {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);
    font-weight: var(--fontweight);
}

#cta-1 {
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 20px;
    gap: 30px;
    color: white;
}

#hero h1 {
    font-size: 42px;
    font-weight: 700;
}

#hero p {
    font-size: 18px;
    line-height: 1.5;
    word-spacing: 2px;
}

#email-input-container {
    position: relative;
    width: 350px;
}

#email-input-container input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 24px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

#email-input-container input::placeholder {
    color: rgb(245, 243, 243);
    opacity: 1;
}

#email-input-container label {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    padding: 7px 16px;
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    font-weight: var(--fontweight);
}

#hero-img {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}

#hero-img img {
    width: 60%;
    height: auto;
    border-radius: 20px;
}

#trusted-logos img {
    width: 100px;
    opacity: 0.7;
}

#trusted-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    padding: 40px 20px;
    width: 50%;
    margin: 10px auto;
}

#built-for-intelligent-age {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    gap: 20px;
    font-size: larger;
}

#enterprise-reinvention {
    padding: 60px 20%;
    background-color: rgb(239, 238, 238);
}

#reinvention-title {
    color:green;
    font-weight: 500;
}

#reinvention-content1 h2{
    font-size: larger;
}

#reinvention-text, #reinvention-title {
    font-size: 18px;
    line-height: 1.5;
    word-spacing: 2px;
}

#reinvention-text {
    display: flex;
    justify-content: space-between;
}

#reinvention-btn {
    background-color: black;
    color: white;
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);
    font-weight: var(--fontweight);
}

#features-section {
    display: flex;
    gap: 40px;
    margin-top: 80px;
}

.f-section img {
    width: 40px;
    height: auto;
    border-radius: 20px;
}

#final-cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 20px;
    gap: 30px;
}

#final-cta-section div h1 {
    font-size: 42px;
    font-weight: 700;
}

#final-cta {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

#cta-btn1 {
    background-color: black;
    color: white;
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);
    font-weight: var(--fontweight);
}

#cta-btn2 {
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
}   

#pricing-quickstart img {
    width: 40px;
    color: green;
    background-color: green;
    border-radius: 100%;
    padding: 5px;
    overflow: hidden;
}

#footer-nav img {
    width: 120px;
}

#socail-links {
    display: flex;
    gap: 25px;
}

#social-links img {
    width: 25px;
    height: auto;
    opacity: 0.7;
}

#footer-nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0px auto;
}

#footer-main {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 40px;
}

#footer-main ul li {
    list-style: none;
    margin-bottom: 10px;
}

#footer-main ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#footer-main ul li:first-child {
    margin-bottom: 20px;
    color: gray;
}

#copyright {
    text-align: center;
    padding: 20px;
    color: gray;
    font-size: 14px;
    margin-top: 10px;
}